html, body {
  background-color: #222233 !important;
  line-height: 0;
}

p {
  align-content: center;
  color: #fff;
  opacity: 0.4;
  padding-top: 15px !important;
  text-align: center;
}

p > span {
  opacity: 0.4;
  text-align: center;
}

.title {
  padding-top: 20px !important;
}

.controls {
  text-align: center;
  margin: 20px auto;
}

.game-grid {
  text-align: center;
}

.row {
  height: 10px;
}

.cell {
  background-color: #e9e9eb;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.6);
}

.cell:hover {
  background-color: #bcbcc1;
}